.grid {
  border-collapse: collapse;
  table-layout: fixed;
}

.space {
  width: 100px;
  height: 100px;
}

.out-of-bounds {
  background-color: rgba(184, 134, 11, 0.5);
  border: 1px solid black;
}

.in-bounds {
  background-color: rgb(218, 165, 32);
  border: 1px solid black;
}